.visible{
  display: block;
}

.no-visible{
  display: none;
}

tr{
  padding: 15px;
}

table{
  border-collapse: separate;
  border-spacing:0px 5px;
  margin: 0 auto;
}

th{
  color: black;
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  width: 300px;
  font-weight: bold;
  vertical-align: middle;
  background-color: #D3D3D3;
}
