*{
  margin:0px;
  padding: 0px;
}

body{
  background-color: #cccbc8;
}

.App{
  width: 100%;
  background: white;
  width: 900px;
  margin: 100px auto 0 auto;
  color: white;

  border-radius: 16px;
  box-shadow:
      0 5px 15px 1px rgba(0,0,0,0.6),
      0 0 200px 1px rgba(255,255,255,0.5);
}

.App li{
  list-style-type: none;
}

.Categoria:first-child h3{
  border-radius: 16px 16px 0 0;
}

.Categoria h3{
  font-size: 20px;
  line-height: 50px;
  padding: 0 10px;
  margin: 0px;
  background: black;
  cursor: pointer;
}

.App button{
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.App button:hover{
  background-color: black;
  color: white;
}

.Categoria ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  display: block;
  padding:0 15px;
  transition: all 0.25s;
}

.icon{
  font-size: 16px;
  margin-right: 10px;
}
